<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.CategoryMapper">
	<select id="selectCategoryList"
			parameterType="com.example.sakila.vo.Category">
		SELECT
			category_id categoryId
			, name
			, last_update lastUpdate
		FROM category
	</select>
	
	
	<!-- insertCategory Query : 카테고리 추가 -->
	<insert id="insertCategory" parameterType="com.example.sakila.vo.Category">
		INSERT INTO category(name) VALUES(#{name})
	</insert>
	
	<!-- deleteCategory : 카테고리 삭제 -->
	<delete id="deleteCategory" parameterType="int">
		DELETE FROM category WHERE category_id = #{categoryId}
	</delete>
	
	<update id="updateCategory" parameterType="com.example.sakila.vo.Category">
		UPDATE category
		<set>
			<if test="name != null and name !=''">
				name = #{name}
			</if>
			
		</set>
		WHERE category_id = #{categoryId}
	</update>
	
	<select id="selectCategory"
			parameterType="int"
			resultType="com.example.sakila.vo.Category">
		SELECT 
			category_id categoryId
			, name name
			, last_update lastUpdate
		FROM category
		WHERE category_id = #{categoryId}
	</select>
</mapper>