<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.StoreMapper">
	<select id="selectStoreList"
			parameterType="Map"
			resultType="com.example.sakila.vo.Store">
		SELECT store_id storeId
			   ,manager_staff_id managerStaffId
			   ,address_id addressId
		 FROM store
	</select>
	
	<select id="selectStoreCount"
			resultType="int">
		SELECT COUNT(*) FROM store
	</select>
</mapper>